/*Navbar*/
.navbar-nav .nav-link.active,.navbar-nav .nav-link.show {
    color:#10C9C3;
    font-family: 'Montserrat', sans-serif;
}
.active {
    color: #10C9C3 !important;
}
.navbar-nav .nav-link,
.navbar-nav .nav-link.show {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
.navbar-nav .nav-link:hover {
    color: #10C9C3;
    font-family: 'Montserrat', sans-serif;
}
/*End navbar*/

/*Jumbotron*/
.top {
   background-size: cover;
    width: 100%;
    
}
.jumbotron {
    width:100%;
    background-size: cover;
    min-height: 600px;
    max-width: 100%;
    background-image: url(images/aidan-hancock-8RU4OuA6Yug-unsplash.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.h2 {
    font-family: Montserrat;
    font-weight: bold;
}
.info {
    color: grey;
    line-height: 2;
    font-family: Montserrat;
}
.btn {
    background-color: #10C9C3;
    color: white;
    box-sizing: border-box;
    border-radius: 0;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 10px;
}
.btn:hover {
    color: black;
    background-color: grey;
}

.mb-4 {
    color: black;
}

a{
    text-decoration: none;
    color: white;
}
/*End Jumbotron*/

/*About Us*/
.headingdd {
    font-family: 'Montserrat',
        sans-serif;
    padding-top: 110px;
}
.introtext {
    padding-right: 80px;

}
.heading {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 40px;
}
.signature {
    padding-top: 20px;
    padding-bottom: 20px;
}
.content {
    padding-top: 20px;
    font-family: Montserrat;
}
.content h3 {
    margin-bottom: 0;
    padding-bottom: 5px;
    font-family: Montserrat;
    font-size: 20px;
}
.content p {
    color: #787878;
}
.about {
    color: #787878;
}
/*End of About Us*/

/*Professional Skills*/
.background {
    background-color: #F5F5F5;
}
.notebook-watch {
    width: 100%;
}
.progress-bar {
    background-color: #10C9C3;
}
.progress {
    height: 6px;
}
.under {
    padding-top: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.skills {
    font-size: 12px;
    font-family: Montserrat;
}
/*End of Professional Skills*/

/*Icons*/
.icon {
    background-color: #10C9C3;
    position: relative;
    display: flex;
}
.numbers {
    background: rgb(16, 201, 195);
    color: #fff;
    padding: 4em 0;
}
.numbers .col {
    margin: 0;
    padding: 0;
}
.numbers {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;

}
/*End of Icons*/

/*Packages*/
.row>* {
    padding-right: none calc(var(--bs-gutter-x) * .5);
        padding-left: none calc(var(--bs-gutter-x) * .5);
}
 .overlay {
    position: absolute;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.2s;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
 }
 .overlay img {
    margin: auto;
    display: block; 
    width: 48px; 
    height: 100%; 
    object-fit: contain;
 }
 #gallery .col-3 {
    position: relative;
 }
 .overlay:hover {
    opacity: 0.8; 
 }
 .middle {
     background-color: black;
     transition: .5s ease;
     opacity: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     text-align: center;
 }
/*End of Packages*/

 /* Blank gray */
 .blank {
    background-color: #F5F5F5;
 }
/* End of Blank gray */

 /*Service*/
 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .service {
     padding-bottom: 30px;
     padding-top: 40px;
 }

 .hopkins {
     background-color: #10C9C3;
     padding-top: 30px;
 }

 .quote {
     line-height: 1.5;
     color: white;
     font-family: Monteserrat;
     font-size: 22px;
     font-weight: bold;
 }
 /*End of Service*/

 /*Hopkins*/
 .hopkins p {
    font-family: 'Montserrat', sans-serif;
     text-transform: uppercase;
     color: white;
 }
 .quote h2 {
     padding-top: 20px;
     padding-bottom: 30px;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
 }
.head {
    font-family: 'Montserrat', sans-serif;
}
 .woodgift {
     padding-left: 10px;
 }
 /*End of Hopkins*/

 /*Gutter*/
 * {
    --bs-gutter-x:0 !important ; 
 }
/*End of Gutter*/
 
/*Form*/
.colorform {
    background-color: #F5F5F5;
}
.titlef {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}
.letus {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 10px;
}
.form-control {
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #F5F5F5;
    font-family: 'Nunito Sans', sans-serif;
}
.text-uppercase p {
    color: white !important;
}
.piroll {
    color: white;
    padding-top: 40px;
}

/*End of Form*/

/*Footer*/

/*End of Footer*/